*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-input {
    height:850px;
    width:1fr;
    background-color: rgba(0, 0, 255, 0.168);
    grid-row: 1;
    grid-column: 1;
}

app-output {
    height:100%;
    width: 1fr;
    background-color: aqua;
    grid-column: 3;
    grid-row: 1;
}

.container {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.button {
    height: 40px;
    width: 100px;
    grid-column:2;
    grid-row:2;
    background-color:red;
    border-radius: 5%;
    color: white;
    font-size: 20px;
}

.button:hover {
    background-color: green;
}

.container.blur {
    pointer-events: none;
    filter: blur(2px);
}